<p>
  <input type="checkbox" id="asset_name_sh" data-checkbox-sh="asset_name" checked="checked" />
  <label for="asset_name_sh">Nombre</label>
</p>

<p>
  <input type="checkbox" id="serial_sh" data-checkbox-sh="serial" checked="checked" />
  <label for="serial_sh">Serial</label>
</p>

<p>
  <input type="checkbox" id="brand_sh" data-checkbox-sh="brand" />
  <label for="brand_sh">Marca</label>
</p>

<p>
  <input type="checkbox" id="model_sh" data-checkbox-sh="model" checked="checked"  />
  <label for="model_sh">Modelo</label>
</p>

<p>
  <input type="checkbox" id="current_plaque_sh" data-checkbox-sh="current_plaque" checked="checked"  />
  <label for="current_plaque_sh">Placa Actual</label>
</p>

<p>
  <input type="checkbox" id="old_plaque_sh" data-checkbox-sh="old_plaque" />
  <label for="old_plaque_sh">Placa Antigua</label>
</p>

<p>
  <input type="checkbox" id="tech_plaque_sh" data-checkbox-sh="tech_plaque" />
  <label for="tech_plaque_sh">Placa Tecnología</label>
</p>

<p>
  <input type="checkbox" id="custodian_sh" data-checkbox-sh="custodian" checked="checked"  />
  <label for="custodian_sh">Custodio</label>
</p>

<p>
  <input type="checkbox" id="internal_location_sh" data-checkbox-sh="internal_location" checked="checked"  />
  <label for="internal_location_sh">Ub. Interna</label>
</p>

<p>
  <input type="checkbox" id="subsidiary_sh" data-checkbox-sh="subsidiary" checked="checked"  />
  <label for="subsidiary_sh">Sucursal</label>
</p>

<p>
  <input type="checkbox" id="factor_m_sh" data-checkbox-sh="factor_m"  />
  <label for="factor_m_sh">Factor M</label>
</p>