<footer class="footer-sty">
  	<div class="container tam-footer">
	    <div class="white-text">
	      <ul class="margin-ul">
	      	<li>ZUKO</li>
	      	<li>© 2016 - All Rights Reserved</li>
	      	<li>Developed By Wilkatek Business Solutions</li>
	      </ul>
	    </div>
  	</div>
</footer>