<div class="header-section row">
    <h1>Marcas</h1>
    <i class="fa fa-bookmark-o header-section__icon"></i>

  
</div>
    <a class="btn-floating btn-large waves-effect waves-light blue font-size-2em default-search-button tooltipped" data-position="top" data-delay="50" data-tooltip="Filtrar" data-slide-target=".maincontent__hiddenfilters" href="javascript:void(0)"><i class="fa fa-search"></i></a>

<div class="maincontent">  


    <div class="row maincontent__hiddenfilters">

      <div class="row s12 maincontent__toolbuttons center-align">
        
        <h3 class="inline-block vertical-align-middle">Filtrar</h3>

        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>&nbsp;</span>

        <button class="waves-effect waves-light btn wg-external-csv-export-button maincontent__exportbutton inline-block vertical-align-middle" data-grid-name="grid"><i class="fa fa-file-excel-o"></i> Exportar a Excel</button>

      </div>

      

      <div class="row sty-filtros">
        
        <div class="wg-detached-filter grid_detached_filter input-field" data-grid-name="grid">
          <label for="grid_f_name">Nombre</label>
          <input type="text" name="grid[f][name]" id="grid_f_name" 
              value="<%= 
                  if (params and params[:grid] and params[:grid][:f] and params[:grid][:f][:name])
                    params[:grid][:f][:name]
                  else
                    ''
                  end %>" size="8">
        </div>

      </div>

       <div class="col s5 row right-align">

        <button class="waves-effect waves-light btn wg-external-submit-button maincontent__cleanfiltersbutton inline-block vertical-align-middle" data-grid-name="grid"><i class="fa fa-filter"></i> Filtrar</button>

      </div>

      <span class="col s2">&nbsp;</span>

      <div class="row col s5">

         <button class="waves-effect waves-light btn wg-external-reset-button maincontent__cleanfiltersbutton inline-block vertical-align-middle" data-grid-name="grid"><i class="fa fa-recycle"></i> Limpiar Filtros</button>

      </div>

    </div>

  <%= render 'grid'  %>
  

  <!-- Float button -->
  <%= link_to "+", 
      new_brand_path, 
        class:"btn-floating btn-large waves-effect waves-light green font-size-2em default-add-button tooltipped", 
          data: {
            position:"top", 
            delay:"50", 
            tooltip:"Nuevo Item"
          } 
    %>
  

</div>
