<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @internal_location.name %>
</p>


<%= link_to 'Edit', edit_internal_location_path(@internal_location) %> |
<%= link_to 'Back', internal_locations_path %>
