<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @root_category.text %>
</p>

<%= link_to 'Edit', edit_root_category_path(@root_category) %> |
<%= link_to 'Back', root_categories_path %>
